<div class="block-cart">
  <div class="block-img-product">
    <%= image_tag("new-product.png", alt: "Product")  %>
  </div>
  <div class="block-cart-product">
    <div class="mt-5 sm:mt-0">
      <h2 class="text-lg font-bold text-gray-900"><%= cart_product.product.name %></h2>
      <p class="mt-1 text-xs text-gray-700"><%= number_to_currency(cart_product.product.price, unit: "₴", format: "%n %u") %></p>
    </div>
    <div class="cart-product-button">
      <div class="flex items-center border-gray-100">
        <%= button_to "-", reduce_quantity_cart_product_path(cart_product), method: :post, class: 'button-cart rounded-l' %>
        <p class="px-2"><%= cart_product.quantity %></p>
        <%= button_to "+", add_quantity_cart_product_path(cart_product), method: :post, class: 'button-cart rounded-r' %>
        <%= button_to "Remove product", cart_product_path(cart_product), method: :delete, class: 'button-cart rounded  ml-1' %>
      </div>
      <p class="text-sm pt-6"><%= number_to_currency(cart_product.total_price, unit: "₴", format: "%n %u") %></p>
    </div>
  </div>
</div>
