<h2>Cart show</h2>
<ul>
  <% @cart.cart_products.each do |cart_product| %>
    <li>Item: <%= cart_product.product.name %>/ Price: <%= number_to_currency(cart_product.product.price) %>/ Quantity: <%= cart_product.quantity %>/ Total Price: <%= number_to_currency(cart_product.total_price) %>
    # See lineItem section below for explanation of cart_product links
    <ul>
      <li>
        <%= link_to "Add one", cart_product_add_path(:id => cart_product), method: :post %>
        <%= link_to "Reduce one", cart_product_reduce_path(:id => cart_product), method: :post %>
      </li>
      <li>
        <%= link_to "Remove item", cart_product_path(cart_product), method: :delete %>
      </li>
    </ul>
    #
  <% end %>
</ul>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
# See Order section below for explanation of new_order_path
<%# link_to "Proceed to checkout", new_order_path %><br>
#
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}
