<div class="bg-gray-100 pt-20">
  <h1 class="title-cart">Cart</h1>
  <div class="block-products">
    <div class="rounded-lg md:w-2/3">
      <% @cart_products.each do |cart_product| %>
        <%= render 'cart_product', cart_product: cart_product %>
      <% end %>
    </div>
    <!-- Sub total -->
    <div class="block-global">
      <% @cart_products.each do |cart_product| %>
        <div class="block-global-info">
          <p><%= cart_product.product.name %></p>
          <p><%= cart_product.quantity %></p>
          <p><%= number_to_currency(cart_product.total_price, unit: "₴", format: "%n %u") %></p>
        </div>
      <% end %>
      <hr class="my-4"/>
      <div class="flex justify-between">
        <p class="text-lg font-bold">Sum</p>
        <p class="mb-1 text-lg font-bold"><%= number_to_currency(@cart_sub_total, unit: "₴", format: "%n %u") %></p>
      </div>
        <%= link_to "Order", new_order_path, class: "button-order" %>
        <%= button_to "Empty cart", cart_path(@current_cart), method: :delete, class: "button-order" %>
      </button>
    </div>
  </div>
</div>
