<section class="sectionn">
  <div class="flex font-sans">
    <div class="object-center w-3/12">
      <%= image_tag("new-product.png", alt: "Product")  %>
    </div>
    <form class="flex-auto p-6">
      <div class="flex flex-wrap">
        <h1 class="flex-auto text-lg font-semibold text-slate-900">
          <%= product.name %>
        </h1>
        <div class="text-lg font-semibold text-slate-500">
          <%= number_to_currency(product.price, unit: "₴", format: "%n %u") %>
        </div>
      </div>
      <div class="section-two">
        <div class="block-category">
          <%= product.category.name %>
        </div>
      </div>
      <p class="mb-10 text-sm text-slate-700">
        <%= product.description %>
      </p>
      <div class="flex space-x-я4 mb-6 text-sm font-medium">
        <div class="mr-10">
          <%= link_to "Add to cart", cart_products_path(product_id: product.id), class:"link-to-cart", data: {turbo_method: :post} %>
        </div>
        <div>
          <%= link_to "Go to cart", cart_path(@current_cart), class:"link-to-cart" %>
        </div>
      </div>
    </form>
  </div>
</section>
<br/>
