<h1 class="text-center my-10 text-5xl md:text-6xl xl:text-7xl text-orange-600 font-bold mb-12">Category</h1>
<%= render 'categories/category_id' %>

<% @category.products.each do |product| %>    
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12 border-4 border-x-white border-y-black">
    <div class="flex font-sans"> 
      <div class="object-center w-3/12">
        <%= image_tag("new-product.png", alt: "Product")  %>
      </div>
      <form class="flex-auto p-6">
        <div class="flex flex-wrap">
          <h1 class="flex-auto text-lg font-semibold text-slate-900">
            <%= link_to product.name, products_path %>
          </h1>
          <div class="text-lg font-semibold text-slate-500">
            <%= link_to product.price, products_path %>
          </div>
          <%# <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2"> %>
            <%# link_to product.position, products_path %>
          <%# </div> %>
        </div>
        <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
          <label>
            <input class="sr-only peer" name="category" type="radio" value="Game" checked />
            <div class="rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
              <%= link_to product.category.name, products_path %>
            </div>
          </label>
        </div>
        <p class="mb-10 text-sm text-slate-700"> 
          <%= link_to product.description, products_path %> 
        </p>
        <div class="flex space-x-Ñ4 mb-6 text-sm font-medium">
          <div class="flex-auto flex space-x-4">
              <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
              Add to bag
              </button>
              <%# <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
              Buy now
              </button> %>
          </div>
        </div>
      </form>
    </div>
  </section>
  <br/>
<% end %>